<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Village</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>

<body>
    <nav class="menu">
        <ul>
            <li>
                <a href="/"><img class="logo" src="/assets/graphics/text-1647863431904.png" alt="Home"></a>
            </li>
            <li>
                <a href="/profile/{{userId}}">
                    <p>Profile</p>
                </a>
            </li>
            <li>
                <a href="/build">
                    <p>Buildings</p>
                </a>
            </li>
            <li>
                <a href="/mine">
                    <p>Mine</p>
                </a>
            </li>
            <li>
                <a href="/recruit">
                    <p>Recruit</p>
                </a>
            </li>
            <li>
                <a href="/register" style="float:right;">
                    <p>Register</p>
                </a>
            </li>
        </ul>
    </nav>

    <nav class="info-menu">
        <ul>
            <li>
                <p>Gold: {{gold}}</p>
            </li>
            <li>
                <p>Wood: {{wood}}</p>
            </li>
            <li>
                <p>Stone: {{stone}}</p>
            </li>
            <li>
                <p>Villagers: {{villagersFree}}/{{villagersTotal}}</p>
            </li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>